@import url(https://reset5.googlecode.com/hg/reset.min.css);

.flagbody {
    background:black;
    color:white;
    font-family:'open sans'!important;
}

.flagbody p {
    font-family:'open sans'!important;
}

.flag-header {
    width:100vw;
    height:100vh;
    background:black;
    padding:0px 40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.flag-header img {
    width:100%;
    height:auto;
}

.flag-navi {
    width:100vw;
    background:black;
    font-family:'Avalon';
    font-weight:bold;
    letter-spacing:.5px;
    font-size:16px;
}

.line {
    height:8px;
	background-color:white;
    margin-bottom:40px;
}

.flag-navi img {
    height:30px;
    width:auto;
    margin-bottom:8px;
}

.flag-navi ul {
    list-style:none;
    text-align:center;
    margin-bottom:20px;
}

.flag-navi li {
    display:inline-block;
    width:150px;
    margin:15px 5px;
}

.flag-navi a {
    color:white;
}

#flagsection2 {
    padding:20px;
    padding-top:20vh;
    padding-bottom:20vh;
}

#flagsection2 h1 {
    font-family:'DojoKick';
	font-weight:normal!important;
    text-align:center;
    overflow:visible;
    line-height:140%;
}

.flag-about-img {
    width:100%;
    height:auto;
    margin-bottom:30px;
}

.flag-about {
    padding:20px;
    column-width:100%;
    font-family:'open sans'!important;
}

#flagsection3 {
    background: url("./images/grungebg.png") no-repeat center center fixed;
	background-repeat:no-repeat;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    font-family:'open sans'!important;
    padding-top:20vh;
    padding-bottom:20vh;
}

.flag-staff-desc {
padding:40px;
font-family:'open sans'!important;
}

.flag-staff-img {
    width:100%;
    height:auto;
}

#flagsection3 h1 {
    font-family:'HardGrunge';
    font-weight:normal;
    font-size:70px;
    text-align:center;
    padding-bottom:30px;
}

#flagsection4 {
    padding:20px;
    padding-bottom:40px;
    padding-top:40px;
}

.flag-pro {
    width:45%;
    height:220px;
    overflow:scroll;
    display:inline-block;
    padding:10px 10px;
    margin:5px 8px;
    transition:800ms;
}

.flag-pro:hover {
    box-shadow: 0px 0px 10px .5px #292929;
	background:#5a1514;
    transition:800ms;
}

#flagsection4 {
    padding-top:20vh;
    padding-bottom:20vh;
}

#flagsection4 h1 {
    font-family:'HardGrunge';
    font-weight:normal;
    font-size:30px;
    margin-bottom:10px;
}

#flagsection4 h2 {
    font-family:'HardGrunge';
    font-weight:normal;
    text-align:right;
    font-size:40px;
}


.elfbox {
    overflow:visible;
}

#flagsection5 {
    background: url("./images/grungebg.png") no-repeat center center fixed;
	background-repeat:no-repeat;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    height:auto;
    padding-top:20vh;
    padding-bottom:20vh;
    overflow:visible;
}


.flag-gallery {
    text-align:center;
    padding:20px;
}

.flag-gallery h1 {
    font-family:'HardGrunge';
    font-weight:normal;
    font-size:40px;
}

.flag-contact-container {
    width:100vw;
}

.flag-contact {
    width:100%;
    float:left;
}

.flag-contact-container h1 {
    font-family:'HardGrunge';
    font-weight:normal;
    font-size:40px;
}

.flag-contact-container p {
    margin-bottom:30px;
}

#flagsection6 {
    padding:20px;
    padding-top:20vh;
    padding-bottom:5vh;
}

.flag-contact img {
    width:89%;
    height:auto;
}

.flag-contact-social img {
    display:inline-block;
    width:30px;
    height:auto;
    text-align:center;
    margin:15px;
}

.flag-contact-social {
    text-align:center;
    padding-top:50px;
    background: url("./images/grungebg.png") no-repeat fixed;
	background-repeat:no-repeat;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
}

.elfbox {
    width:330px;
    margin:0 auto;
    padding-top:15px;
}

.elfbox img {
    width:100%;
    height:auto;
}


@media only screen and (min-width: 640px) and (max-width:814px) {
    .flag-header img {
        width:70%;
        height:auto;
    }

    .flag-navi li {
        width:200px;
    }

}


@media only screen and (min-width: 535px)  {
    
    #flagsection6 {

        width:450px;
        margin:0 auto;
        padding:20px;
        padding-top:20vh;
        padding-bottom:5vh;
    }

    .flag-contact-container h1 {
        font-size:60px;
    }

    .flag-contact img {
        width:450px;
        height:auto;
    }

    .flag-contact {
        padding-bottom:100px;
    }

  }


  @media only screen and (min-width: 935px)  {
    
    #flagsection6 {

        width:550px;
        margin:0 auto;
        padding:20px;
        padding-top:20vh;
        padding-bottom:5vh;
    }

    .flag-contact img {
        width:550px;
        height:auto;
    }

}


@media only screen and (min-width: 815px) and (max-width:963px) {
    .flag-header img {
        width:50%;
        height:auto;
    }

    .flag-navi li {
        width:120px;
    }

    .line {
        margin-top:-82px;
    }
   
    .flag-navi img {
        margin-bottom:20px;
    }

    .elfbox {
        width:500px;
        margin:0 auto;
        padding-top:15px;
    }
    

    .flag-gallery h1 {
        font-family:'HardGrunge';
        font-weight:normal;
        font-size:80px;
    }

    .flag-gallery p {
        font-size:23px;
        padding-bottom:50px;
    }
    
  }


@media only screen and (min-width: 815px) {
    .flag-programs {
        width:800px;
        margin:0 auto;
    }

    .flag-pro {
        width:360px;
        margin:20px;
    }

    #flagsection4 h2 {
        font-size:60px;
        padding-bottom:30px;
    }

    #flagsection4 h1 {
        font-size:40px;
    }
}

@media only screen and (min-width: 964px) {
    .flag-header img {
        width:40%;
        height:auto;
    }

    .line {
        margin-top:-71px;
    }
   
  }


  @media only screen and (min-width: 700px) {

    #flagsection2 h1 {
        line-height:140%;
        font-size:40px;
        padding:30px 40px;
    }
    
    
    .flag-about {
        padding:30px;
        column-width:200px;
        column-gap:40px;
    }

    #flagsection2 {
        padding:20px 60px;
        padding-top:20vh;
        padding-bottom:20vh;
    }


    .flag-staff-img {
        float:left;
        width:49%;
    }

    #flagsection3 {
        padding-left:40px;
        padding-right:40px;
    }

    #flagsection3 h1 {
        font-size:35px;
        padding-top:15px;
    }

    .flag-staff-desc {
        padding:0px;
        padding-left:30px;
        height:390px;
        overflow:auto;
        width:49%;

        }

  }


  @media only screen and (min-width: 920px) {

    #flagsection3 {
        height:100vh;
    }
    .flag-staff-holder {
        width:800px;
        margin:0 auto;
    }

    .flag-staff-desc {
        height:460px;
        

        }

        #flagsection3 h1 {
            font-size:55px;
            padding-top:25px;
        }


  }


  @media only screen and (min-width: 1100px) {
    .flag-about {
    column-width:300px;
    column-gap:60px;
    padding:80px;
    }
  }

  @media only screen and (min-width: 1300px) {

    .flag-staff-holder {
        width:1000px;
        margin:0 auto;
    }

    .flag-staff-desc {
        height:640px;
        background:rgba(0,0,0,.4)
        }

        #flagsection3 h1 {
            font-size:75px;
            padding-top:65px;
        }


  }

  @media only screen and (min-width: 964px)  {

    .flag-gal-holder {
        width:900px;
        margin:0 auto;
        background:rgba(0,0,0,.4);
        padding:10px 0px;
    }
    
    .flag-gallery {
        float:left;
        padding-top:90px;
        width:500px;
    }

    .flag-gallery h1 {
        font-size:80px;
    }
 
    .elfbox {
     width:400px;
     padding:0px;
     float:left;
 }

 
   }