.myVideo {
    height:100vh;
    margin-left:-100vw;
}

.det-navi-bar {
    width:100vw;
    height:80px;
    padding:11px;
    background:#353a3f;
    bottom:0px;
    position:fixed;
    color:#fff;
    z-index:99999999999;
}

.det-navi-logo {
    height:55px;
    width:auto;
    float:left;
}

.det-navi-title {
    font-size:25px;
    letter-spacing:4px;
    font-family:'AvenirRoman';
    text-align:center;
    padding-left:5px;
    padding-top:15px;
}

.det-navi-title b {
    font-family:'AvenirBlack';
}

.det-navi-links {
    display:none;
}

.det-navi-links a,.det-navi-links a:active {
    color:#9a9d9f;
    font-family:'AvenirRoman';
}

.det-navi-links a:hover {
    color:#fff;
}

.det-second-container {
    background:#eaeaea;
    width:100vw;
    box-sizing:border-box;
    padding:30px;
    font-family:'AvenirRoman';

}

.det-second-info {
    background:#fff;
    width: 100%;
    margin:0 auto;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    box-sizing:border-box;
    padding:35px 20px;
}

.det-second-info h1 {
    font-family:'AvenirRoman';
    font-weight:normal;
    font-size:30px;
    text-align:center;
    letter-spacing:8px;
}

.det-second-info h1 b {
    font-family:'AvenirBlack';
    font-weight:bold;
}

.det-second-info h2 {
    font-family:'AvenirRoman';
    font-size:18px;
    font-weight:normal;
    text-align:center;
    word-spacing:4px;
    padding:0px 30px;
    padding-top:10px;
    margin-bottom:0px;
}

.det-sec-desc {
    padding-top:50px;
    padding-left:15px;
}

.det-sec-desc img {
    width:100%;
    height:auto;
    opacity:.5;
    margin-top:0px;
    text-align:center;
    margin-left:-5px;
    margin-bottom:25px;
}

.det-sec-desc p {
    padding-top:0px;
    font-family:'AvenirRoman';
    margin-bottom:15px;
    font-size:14px;
    line-height:150%;
    text-indent: 20px;
}

.det-third-container {
    width:100vw;
    background: url("images/bgcopy.jpg") no-repeat center center fixed;
	background-repeat:no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
}

.det-kara {
    width:250px;
    padding:40px 10px 40px 10px;
	background:#032541;
	margin:0 auto;
    margin-top:40px;
	margin-bottom:10%;
    overflow:visible;
	box-shadow:0 15px 35px rgba(0,0,0,.08);
    box-sizing:border-box;
    padding:30px 30px;
    padding-bottom:1px;
}

.det-kara img {
    width:100%;
	height:auto;
	border-radius:100%;
    margin:0 auto;
}

.det-kara-desc {
    width:300px;
	background:#073863;
	position:relative;
    margin-left:-55px;
	margin-top:35px;
	padding:25px 25px;
	font-family:'AvenirRoman';
	color:white;
	word-spacing:2px;
	font-size:12.5px;
	text-align:justify;
	text-align-last:left;
	box-shadow:0 15px 35px rgba(0,0,0,.08);
    margin-bottom:70px;
}

.det-kara-desc p {
    font-family:'AvenirRoman';
    margin-bottom:20px;
    text-indent:20px;
    line-height:150%;
}

.det-kara-desc p:last-of-type {
    margin-bottom:0px;
}

.det-kara-title {
    position:absolute;
	font-family:'AvenirBook';
	font-size:18px;
	color:white;
	width:auto;
	text-shadow: 3px 1px #000;
	text-align:right;
	text-transform:uppercase;
    word-spacing:7px;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
    width:500px;
    margin-left:-300px;
    margin-top:-430px;
}

.det-fourth-container {
    background:#eaeaea;
    width:100vw;
    padding-top:30px;
    padding-bottom:100px;
    justify-content:center;
    
}

.det-fourth-title {
    text-align:right;
    padding:20px 30px;
    font-size:45px;
    word-spacing:8px;
    font-family:'AvenirRoman';
}

.det-fourth-title b {
    font-family:'AvenirBlack';
}

.det-android-contain {
    width:100vw;
    margin:0 auto;
    box-sizing:border-box;
    padding:0px 30px;
}

.det-android-model {
    width:100%;
    background:white;
    height:auto;
    box-sizing:border-box;
    padding:50px 30px;
    float:left;
    
    margin:20px 0px;
    box-shadow:0 10px 35px rgba(0,0,0,.08);
    
}

.det-android-model h2 {
    font-family:'AvenirRoman';
    text-align:center;
    letter-spacing:6px;
    padding:20px 0px;
    font-size:30px;
    margin-bottom:-10px;
}

.det-android-model p {
    font-family:'AvenirRoman';
    margin-top:0px;
    font-size:14px;
    text-align:justify;
    text-align-last:left;
    line-height:20px;
    padding-bottom:10px;
    text-indent: 20px;
}

.det-android-model center {
    font-family:'AvenirRoman';
    font-size:12px;
    line-height:17px;
}

.det-android-model center b {
    font-family:'AvenirBlack';
}
.det-android-model img {
    width:100%;
    height:auto;
}

.det-fifth-container {
    background: #010b15 url("images/triangles.png") no-repeat center center fixed;
	background-repeat:no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    width:100vw;
    padding-top:30px;
    overflow:visible;
}

.surveyvid {
    display:none;
}

.det-survey-contain {
    width:100vw;
    margin:0 auto;
    padding: 0px 0px;
    padding-bottom:40px;
}

.det-survey-contain label {
	text-transform:uppercase;
    font-family:'AvenirRoman';
    color:white;
	margin-left:10px;
	font-size:11.5px;}

.det-survey-contain h3 {
    font-size:15px;
    width:270px;
    font-family:'AvenirBlack';
    color:white;
    margin-bottom:7px;
}
.det-survey-contain ol {
    padding-left:40px;
    padding-top:30px;
}

.det-survey-contain li {
    width:290px;
    margin:30px 20px;
    display:inline-block;
}

.det-sixth-container {
    background:#eaeaea;
    width:100vw;
    padding:50px;
    padding-bottom:130px;
}

.det-purchase {
    width:100%;
    margin:0 auto;
}

.det-purchase img {
    width:100%;
    height:auto;
    float: left;
}

.det-purchase-desc {

    padding-left:24px;
    padding-top:35px;
}

.det-purchase-desc h1 {
    font-family:'AvenirBlack';
    font-size:35px;
    margin-bottom:-6px;
}

.det-purchase-desc h2 {
    font-family:'AvenirRoman';
    font-size:25px;
    margin-top:0px;
    margin-bottom:15px;
}

.det-purchase-desc p {
    font-family:'AvenirBook';
    margin-bottom:15px;
    padding-right:8px;
}

.det-button {
    font-family:'AvenirBlack';
    background:#2a4b71;
    width:90%;
    color:#fff;
    padding:8px 12px;
    padding-top:10px;
    margin-bottom:0px;
    border-radius:8px;
}

.det-button span {
    float:right;
    font-family:'AvenirRoman';
}


@media only screen and (min-width: 500px) {
    .det-navi-title {
        float:left;
        padding-right:22px;
    }

    .det-navi-links {
        width:220px;
        word-spacing:20px;
        display:inherit;
        margin-top:7px;
        font-size:14px;
        text-align:justify;
        text-align-last:justify;
    }

    .det-second-container {
        width:100vw;
        padding:50px;
    
    }
    
    .det-second-info {
        width: 350px;
        margin:0 auto;
        padding:35px 20px;
    }

    .det-kara-desc {
        width:350px;
        margin-left:-80px;
        margin-top:35px;
        margin-bottom:70px;
    }

    .det-kara-title {
    
        font-size:21px;
        width:500px;
        margin-left:-310px;
        margin-top:-425px;
    }

    .det-third-container {
        padding:50px 0px;
    }

    .det-android-contain {
        width:400px;
    }
    
    .det-android-model {
        margin:40px 0px;
        
    }

    .surveyvid {
        width:100%;
        height:auto;
        margin:0 auto;
        display:inherit;
    }

    .det-survey-contain {
        width:400px;
        margin:0 auto;
        padding: 40px 0px;
    }

    .det-survey-contain ol {
        padding-left:15px;
        padding-top:30px;
    }
    
    .det-survey-contain li {
        width:150px;
        margin:30px 20px;
    }

    .det-survey-contain h3 {
        width:150px;
    }


    .det-sixth-container {
        padding-top:80px;
        padding-bottom:150px;
    }
    
    .det-purchase {
        width:300px;
        margin:0 auto;
    }
    
    .det-purchase-desc {
        padding-top:45px;
    }
}


@media only screen and (min-width: 640px) {
    .det-navi-links {
        width:360px;
        word-spacing:5px;
        display:inherit;
        margin-top:20px;
        font-size:14px;
        text-align:justify;
    }

    .myVideo {
        height:auto;
        width:100vw;
        margin-left:0vw;
        margin-bottom:-2px;
    }

    .det-second-container {
        padding:100px 50px;
    
    }
    
    .det-second-info {
        width: 500px;
        margin:0 auto;
        padding:35px 20px;
    }

    .det-sec-desc img {
        width:300px;
        height:auto;
        margin-top:0px;
        margin-left:-15px;
        margin-bottom:-295px;
        -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
    }
    
    .det-sec-desc p {
        margin-bottom:15px;
        width:250px;
        margin-left:180px;
        font-style:italic;
    }


    .det-kara {
        width:320px;
        padding: 40px 45px;
        margin-top:80px;
    }

    
    .det-kara-desc {
        width:420px;
        margin-left:-95px;
        margin-top:35px;
        margin-bottom:50px;
    }

    .det-kara-title {
        position:absolute;
        font-size:27px;
        margin-left:-330px;
        margin-top:-440px;
    }

    .det-third-container {
        padding:50px 0px;
    }

    .det-android-contain {
        width:600px;
    }
    
    .det-android-model {
        width:250px;
        margin:20px 10px;
        
    }

    .det-survey-contain {
        width:500px;
        margin:0 auto;
        padding: 40px 0px;
    }

    .det-survey-contain ol {
        padding-left:13px;
        padding-top:30px;
    }
    
    .det-survey-contain li {
        width:200px;
        margin:30px 20px;
    }

    .det-survey-contain h3 {
        width:200px;
    }

    .det-purchase {
        width:580px;
        margin:0 auto;
    }
    
    .det-purchase img {
        width:270px;
        height:auto;
        float: left;
       
    }
    
    .det-purchase-desc {
        width:310px;
        padding-left:24px;
        padding-top:25px;
    }


}


@media only screen and (min-width: 740px) {
    .det-navi-links {
        width:460px;
        word-spacing:5px;
        display:inherit;
        margin-top:20px;
        font-size:14px;
        text-align:justify;
    }

    .det-android-contain {
        width:700px;
    }
    
    .det-android-model {
        width:300px;
        margin:20px 10px;
        
    }

}

@media only screen and (min-width: 1000px) {
    .det-navi-links {
        width:550px;
        font-size:16px;
        padding-left:10px;
    }


    .det-second-container {
        padding:150px 50px;
    
    }
    
    .det-second-info {
        width: 600px;
        margin:0 auto;
        padding:35px 20px;
    }

    .det-sec-desc img {
        width:300px;
        height:auto;
        margin-top:0px;
        margin-left:0px;
        margin-bottom:-305px;
        -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
    }
    
    .det-sec-desc p {
        margin-bottom:15px;
        width:260px;
        margin-left:240px;
        font-style:italic;
    }

    .det-second-info h1 {
        font-size:60px;
        letter-spacing:8px;
        margin-bottom:-15px;
        padding-top:20px;
    }
    
    .det-second-info h2 {
        font-size:24px;
        word-spacing:4px;
    }

    .det-third-container {
        background: url("images/bg.jpg") no-repeat center center fixed;
    }


    .det-kara {
        width:350px;
        padding: 40px 45px;
        margin-top:120px;
    }

    
    .det-kara-desc {
        width:500px;
        margin-left:-155px;
        margin-top:80px;
        margin-bottom:50px;
    }

    .det-kara-desc p {
        font-size:14px;
    }

    .det-kara-title {
        position:absolute;
        font-size:35px;
        margin-left:-340px;
        margin-top:-530px;
    }


    .det-third-container {
        padding:50px 0px;
    }

    .det-android-contain {
        width:980px;
    }
    
    .det-android-model {
        width:286px;
        margin:20px 10px;
        
    }

    .det-fourth-title {
        padding:20px 70px;
        font-size:55px;
    }

    .det-fourth-container {
        padding-top:100px;
        padding-bottom:150px;
        justify-content:center;
        
    }

    .det-survey-contain {
        width:700px;
        margin:0 auto;
        padding: 80px 0px;
    }

    .det-survey-contain ol {
        padding-left:13px;
        padding-top:30px;
    }
    
    .det-survey-contain li {
        width:290px;
        margin:30px 25px;
    }

    .det-survey-contain h3 {
        width:280px;
    }


    .det-sixth-container {
        padding:50px;
        padding-top:200px;
        padding-bottom:270px;
    }
    
}