
.contact-left {
  background:#cc524a;
  border-radius:0px;
  display:inline-block;
  width:100%;
  position:relative;
  color:white;
  padding:20px;
  font-family:'Alata';
}

.contact-right {
  display:inline-block;
  width:100%;
  position:relative;
  padding:20px;
}

.contact-left h1 {
text-align:center;
font-family:'MorangaBoldItalic';
margin-top:0px;
font-size:3rem;
width:90%;
padding:5px 0px;
margin:0 auto;
text-decoration:underline;
}

.contact-left h2 {
  font-size:13px;
  font-weight:normal;
  text-align:center;
  font-family:'MorangaLi';
  font-size:1rem;
  padding-bottom:7px;
}

.contact-left h3 {
  text-align:center;
  font-family:'MorangaLiIt';
  margin-bottom:-10px;
  font-size:1.5rem;
  font-weight:normal;
  }

.contactform {
  width: 55vw;
  min-height:100vh;
  padding:100px 0px;
  margin: 0 auto;
}

.formgroup {
  display:inline-block;
  width:100%;
}

.formgroup input[type="text"] {

  background-color: rgba(229,194,143,0.4);
  border:0px;
  border-bottom:2px solid rgba(229,194,143,0.8);
  padding:15px;
  font-size:15px;
  font-weight:300;
  width:100%;
  margin-bottom:25px;
  margin-top:2px;
}


.formgroup textarea {

  background-color: rgba(229,194,143,0.4);
  border:0px;
  border-bottom:2px solid rgba(229,194,143,0.8);
  padding:15px;
  font-size:15px;
  font-weight:300;
  width:100%;
  height:130px;
  margin-bottom:25px;
  margin-top:2px;
}

h1 {
  margin-bottom: 30px;
}



label {
  font-weight: bold;
  font-size:12px;
  color:rgba(199,97,84,1);
  text-transform:uppercase;
  font-family:'MorangaBoldItalic';
}

button {
  padding: 20px;
  border: none;
  background-color: rgba(204,82,74,.7);
  font-weight: bold;
  text-transform:uppercase;
  font-family:'Alata';
  letter-spacing:2px;
  word-spacing:5px;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 0px;
  width:100%;
  text-shadow:1px 1px rgba(199,97,84,1);
  transition:500ms;
}

button:hover {
  background-color: rgba(204,82,74,.9);
  font-style:italic;
  font-size:19px;
  letter-spacing:3px;
  text-shadow:1px 1px rgba(229,194,143,1);
  transition:500ms;
}

@media only screen and (max-width: 768px) {

  .contactform {
    width:100vw;
  }

  .contact-right {
    width:90%;
    margin-left:5%;
  }

}

@media only screen and (max-width: 766px) {

  .contactform {
    padding:0px 0px;

  }
  .contact-left h1 {
    font-size:2.5rem;
    width:100%;
  }
    
  .contact-left h2 {
    font-family:'MorangaLi';
    font-size:1rem;
    padding-right:50px;
    padding-left:50px;
  }
    
  .contact-left h3 {
    font-size:1.5rem;
  }

}

@media only screen and (min-width: 767px) and (max-width: 1024px) {

  .contactform {
    width:60vw;
  }

  .contact-left {
    border-radius: 5px 5px 0px 0px;
  }

}

@media only screen and (min-width: 1024px) {

  .contactform {
    width:40vw;
  }

  .contact-left {
    border-radius: 5px 5px 0px 0px;
  }

}