.portfolio-home-header {
    background:#e85a50;
    width:100vw;
    height:90vh;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
}

.portfolio-home-header img {
    vertical-align: middle;
    display: inline-block;
    width:100%;
    height:auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin: auto;
}
 
.portfolio-home-logo-mobile {
    display:none;
}

.portfolio-home-logo-desktop {
    display:none;
}

@media only screen and (max-width: 550px) {

    .portfolio-home-logo-mobile {
        display:unset;
    }
  
}

@media only screen and (min-width: 551px) {

    .portfolio-home-logo-desktop {
        display:unset;
    }
  
}