.resume-container {
    width:100vw;
}

.resume-header {
    width:100vw;
    height:400px;
    background:rgba(80,85,99,1);
    background-size:cover;
    display: table-cell; vertical-align: middle;
    text-align:center;
    font-size:90px;
}

.resume-tit {
    font-family:'MorangaBoldItalic';
    color:#fff;
    text-shadow:3px 3px #000;

}

.resume-col-container {
    width:100vw;
    background:rgba(80,85,99,.9);
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:center;
    display:flex;
}

.resume-col-one {
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    width:70vw;
    min-width:400px;
    min-height:200px;
    padding-top:50px;
    background:#fff;
}

.resume-col-two {
    padding:25px;
    padding-top:50px;
    width:365px;
    min-height:300px;
    margin:0 auto;
}

.resume-col-three {
    padding:25px;
    width:86vw;
    min-height:300px;
}

.resume-col-four {
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    width:70vw;
    min-width:400px;
    min-height:300px;
    background:#fff;
}

.resume-col-five {
    padding:25px;
    padding-top:50px;
    width:365px;
    min-height:300px;
    margin:0 auto;
    margin-top:-25px;
}

.resume-title-a {
    width:100%;
    height:51px;
    overflow:visible;
    border-bottom:7px solid rgba(229,194,143,0.8);
    margin-bottom:30px;
    transition:1200ms;
    padding:0px 8px;
    text-shadow:2px 2px #fff;
}

.resume-title-b {
    width:100%;
    overflow:visible;
    height:8px;
    border-bottom:54px solid #a5514a;
    margin-bottom:30px;
    transition:1200ms;
    padding:0px 8px;
    color:#fff;
    text-shadow:2px 2px #000;
}

.resume-title-a:hover {
    height:8px;
    border-bottom:58px solid #c6635c;
    transition:1200ms;
}

.resume-title-b:hover {
    height:50px;
    border-bottom:7px solid rgba(229,194,143,0.8);
    color:#fff;
    text-shadow:2px 2px #000;
    transition:1200ms;
}

.resume-container h1 {
    font-family:'MorangaBoldItalic';
    font-size:42px;
}

.resume-col-one ul,.resume-col-four ul {
    list-style-type: none;
    border-left:2px solid#c6635c;
    margin-left:35px;

}

.resume-col-one li,.resume-col-four li {
    margin-left:30px;
    padding-bottom:20px;
    width:45vw;
}

.resume-col-one li:last-of-type,.resume-col-four li:last-of-type {
    padding-bottom:5px;

}

.resume-col-one li:before,.resume-col-four li:before {
    content:"•";
    font-size:60px;
    margin-left:-42px;
    margin-top:-27px;
    position:absolute;
    color:#c6635c;
}

.resume-col-one span,.resume-col-four span {
    font-family:'MorangaBold';
    font-size:25px;
    line-height:5px;
    color:#c6635c;
    text-shadow:1px 1px #86332d;
}

.resume-col-one p,.resume-col-four p {
    padding-top:8px;
    padding-bottom:15px;
    font-size:14px;
    font-family:'GTWalsheimReg';
    padding-left:20px;
    line-height:20px;
}

.resume-col-one b:before,.resume-col-four b:before {
    content:"•";
    font-size:20px;
    margin-left:-13px;
    margin-top:-1px;
    position:absolute;
}

.resume-col-one em,.resume-col-four em {
    font-family:'GTWalsheimConBo';
    color:#adadad;
    font-size:17px;
}

.resume-col-one i,.resume-col-four i {
    font-family:'GTWalsheimConReg';
    font-size:14px;
    color:#86332d;
}

.resume-col-one strong,.resume-col-four strong {
    font-family:'GTWalsheimConBold';
    color:#505563;
    font-size:17px;
}

.resume-skill,.resume-skill-b,.resume-skill-c {
    width:95px;
    display:inline-block;
    text-align:center;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    font-family:'GTWalsheimConBold';
    color:#fff;
    text-shadow:1px 1px #000;
    background:rgba(255,255,255,0.1);
    padding-top:20px;
    padding-bottom:20px;
    border-radius:8px;
    transition:1000ms;
    font-size:14px;
}

.resume-skill-b {
    width:147px;
}

.resume-skill-c {
    width:100%;
}

.resume-skill-c .resume-icon {
    font-size:40px;

}

hr {

    opacity:.02px;
    width:85%;
    margin:0 auto;
    margin-bottom:20px;
    margin-top:10px;
}

.resume-skill:hover,.resume-skill-b:hover,.resume-skill-c:hover {
    background:rgba(229,194,143,1);
    transition:1000ms;
}

.resume-skill:hover .resume-icon,.resume-skill-b:hover .resume-icon,.resume-skill-c:hover .resume-icon {
    transition:1000ms;
    color:rgba(80,85,99,1);
}

.resume-icon {
    text-align:center;
    font-size:30px;
    color:rgba(229,194,143,1);
    transition:1000ms;
}

.resume-skill-c i {
    font-family:'GTWalsheimConReg';
    letter-spacing:2px;
    text-transform:uppercase;
    font-size:12px;
}

@media only screen and (max-width: 415px) {

    .resume-col-one,.resume-col-four {
        width:100vw;
    }

    .resume-col-two,.resume-col-five {
        width:100vw;
    }

    .resume-col-one ul,.resume-col-four ul {
        margin-left:0px;
    }
    
    .resume-col-one li,.resume-col-four li {
        width:70vw;
    }

    .resume-title-a {
        width:100%;
        height:48px;
    }
    
    .resume-title-b {
        width:100%;
        height:8px;
    }
    
    .resume-title-a:hover {
        height:8px;
    }
    
    .resume-title-b:hover {
        height:47px;
    }

    .resume-container h1 {
        font-size:38px;
        text-align:center;
    }

    .resume-skill {
        width:98px;
    }

    .resume-skill-b {
        width:152px;
    }

    .resume-skill-c {
        width:318px;
    }

}

@media only screen and (max-width: 1216px) {

    .resume-col-one,.resume-col-four {
        width:100vw;
        padding:50px 100px;
    }

    .resume-col-two,.resume-col-five {
        padding:90px 0px;
        width:611px;
    }

    .resume-skill {
        width:111.5px;
    }

    .resume-skill-b {
        width:192.5px;
    }

    .resume-skill-c {
        width:98.5%;
    }

    .resume-col-one ul,.resume-col-four ul {
        margin-left:110px;
    }

}

@media only screen and (max-width: 960px) {

    .resume-col-one ul,.resume-col-four ul {
        margin-left:50px;
    }

    .resume-col-one li,.resume-col-four li {
        width:60vw;
    }

}

@media only screen and (max-width: 653px) {

    .resume-col-one,.resume-col-four {
        width:100vw;
        padding:50px 50px;
    }

    .resume-col-two,.resume-col-five {
        padding:90px 0px;
        width:400px;
        
    }

    .resume-skill {
        width:123px;
    }

    .resume-skill-b {
        width:190px;
    }

    .resume-skill-c {
        width:98%;
    }

    .resume-col-one ul,.resume-col-four ul {
        margin-left:30px;
    }

    .resume-col-one li,.resume-col-four li {
        width:70vw;
    }

}

@media only screen and (max-width: 450px) {

    .resume-col-one,.resume-col-four {
        width:100vw;
        padding:50px 50px;
    }

    .resume-col-two,.resume-col-five {
        padding:90px 0px;
        width:305px;
        
    }

    .resume-skill {
        width:91px;
    }

    .resume-skill-b {
        width:142px;
    }

    .resume-skill-c {
        width:98%;
    }

    .resume-col-one ul,.resume-col-four ul {
        margin-left:10px;
    }

    .resume-col-one li,.resume-col-four li {
        width:70vw;
    }

    .resume-header {
        font-size:60px;
        height:300px;
    }

}

@media only screen and (max-width: 300px) {

    .resume-col-one,.resume-col-four {
        width:100vw;
        padding:30px;
    }

    .resume-col-two,.resume-col-five {
        padding:90px 0px;
        width:305px;
        
    }

    .resume-skill {
        width:83px;
    }

    .resume-skill-b {
        width:129px;
    }

    .resume-skill-c {
        width:96%;
    }

    .resume-col-one ul,.resume-col-four ul {
        margin-left:40px;
    }

    .resume-col-one li,.resume-col-four li {
        width:80vw;
    }

    .resume-header {
        font-size:40px;
        height:250px;
    }

}