.works-nav {
    width:100vw;
    text-align:center;
    font-family:'MorangaLiIt';
    font-weight:bold;
    letter-spacing:.5px;
    color:#000;
    padding-bottom:5px;
    word-spacing:20px;
    font-size:15px;
    line-height:45px;
    padding-left:50px;
    padding-right:50px;
    padding-top:80px;
    padding-bottom:40px;
} 

.works-nav b {
    font-family:'MorangaBold';
    font-size:17px;
    letter-spacing: -0.2px;
    word-spacing:10px;
}

.works-nav a:hover {
    font-style:italic;
    border-bottom:3px solid black;
}

.works-nav a:last-of-type {
    margin-right:0px;
}

.works-content {
    width:100%;
    height:auto;
    padding:20px 40px;
    padding-top:30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index:-9999;
    padding-bottom:80px;
}

.works-it {
    display:inline-block;
    width:200px;
    height:230px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
}

.works-it img {
    width:200px;
    height:230px;
    position:absolute;
    z-index:-9;

}

.works-title {
    width:200px;
    height:230px;
    background:rgba(229,194,143,0.7);
    z-index:99999;
    opacity:0;
    transition:500ms;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align:center;
    padding:0px;
    color:#fff;
}

.works-title h1 {
    font-family:'MorangaBoldItalic';
    letter-spacing:0px;
    font-size:21px;
    padding:0px 20px;
    text-shadow:1px 1px #000;
    margin-top:28px;
}

.works-content a,.works-content a:visited,.works-content a:active  {
    color:#fff!important;
}

.works-it:hover .works-title {
    opacity:1;
    transition:500ms;
}

@media only screen and (max-width: 518px) {

    .works-content {
        padding:20px 40px;
        padding-top:30px;
    }
    
    .works-it {
        width:280px;
        height:322px;
        margin-bottom:20px;
    }
    
    .works-it img {
        width:280px;
        height:322px;
    
    }

    .works-title {
        width:280px;
        height:322px;
    }

    .works-nav b {
        font-size:23px;
    }

    .works-title {
        width:280px;
        height:322px;
    }
    
    .works-title h1 {
        letter-spacing:0px;
        font-size:30px;
        padding:0px 20px;
    }
  
}

@media only screen and (max-width: 575px) {

    .works-nav {
        padding-left:20px;
        padding-right:20px;
        padding-top:60px;
        padding-bottom:20px;
        font-size:18px;

    }
  
}
