.resume-header {
    width:100vw;
    height:400px;
    background:rgba(80,85,99,1);
    background-size:cover;
    display: table-cell; vertical-align: middle;
    text-align:center;
    font-size:90px;
}

.resume-tit {
    font-family:'MorangaBoldItalic';
    color:#fff;
    text-shadow:3px 3px #000;

}

.works-nav {
    width:100vw;
    text-align:center;
    font-family:'GTWalsheimLiBo';
    font-weight:bold;
    letter-spacing:.5px;
    color:#000;
    padding-bottom:5px;
    word-spacing:20px;
    font-size:15px;
    line-height:45px;
    padding-left:50px;
    padding-right:50px;
    padding-top:80px;
    padding-bottom:40px;
} 

.works-nav b {
    font-family:'MorangaBold';
    font-size:17px;
    letter-spacing: -0.2px;
    word-spacing:10px;
}

.works-nav a:hover {
    font-style:italic;
    border-bottom:3px solid black;
}

.works-nav a:last-of-type {
    margin-right:0px;
}

.works-content {
    width:100%;
    height:auto;
    padding:20px 40px;
    padding-top:30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index:-9999;
    padding-bottom:80px;
}

.works-it {
    display:inline-block;
    width:200px;
    height:230px;
    margin-left:1px;
    margin-right:1px;
    margin-bottom:2px;
    background-size:cover;
}

.works-title {
    width:200px;
    height:230px;
    background:rgba(229,194,143,0.7);
    z-index:99999;
    opacity:0;
    transition:500ms;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align:center;
    padding:0px;
    color:#fff;
}
.works-title p {
    margin-bottom:0px;
    margin-top:0px;
    font-family:'GTWalsheimRegBold';
    color:#56607c;
    text-shadow:1px 1px #fff;

}
.works-title h1 {
    font-family:'MorangaBoldItalic';
    letter-spacing:0px;
    font-size:21px;
    padding:0px 20px;
    text-shadow:1px 1px #000;
    margin-bottom:0px;
    padding-bottom:0px;
}

.works-content a,.works-content a:visited,.works-content a:active  {
    color:#fff!important;
}

.works-it:hover .works-title {
    opacity:1;
    transition:500ms;
}

@media only screen and (max-width: 518px) {
    
    .works-it {
        width:310px;
        height:357px;
        margin-bottom:20px;
    }

    .works-title {
        width:310px;
        height:357px;
    }

    .works-nav b {
        font-size:23px;
    }
    
    .works-title h1 {
        letter-spacing:0px;
        font-size:30px;
        padding:0px 20px;
    }
  
}

@media only screen and (min-width: 416px) and (max-width: 768px) {

    .works-nav {
        padding:40px 150px;
        padding-top:70px;
    }
  
}

@media only screen and (min-width: 416px) and (max-width: 540px) {

    .works-nav {
        padding:40px 80px;
        padding-top:70px;
    }

    .works-it {
        width:42vw;
        height:35vh;
        margin-bottom:5px;
        background-size:cover;
    }

    .works-title {
        width:42vw;
        height:35vh;
    }
  
}

@media only screen and (max-width: 415px) {

    .works-nav {
        padding:20px 10px;
        padding-top:40px;
    }

    .works-nav b {
        font-size:18px;
    }

    .works-it {
        width:100vw;
        height:30vh;
        margin-bottom:5px;
        background-size:cover;
    }

    .works-title {
        width:100vw;
        height:30vh;
    }
  
}
