* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}

a,a:active,a:visited {
  text-decoration:none;
}

@font-face {
  font-family: 'Alata';
  src: local('Alata'), url(./fonts/alata-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MorangaBold';
  src: local('MorangaBold'), url(./fonts/MorangaBold.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaBoldItalic';
  src: local('MorangaBoldItalic'), url(./fonts/MorangaBoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaLiIt';
  src: local('MorangaLightItalic'), url(./fonts/MorangaLightItalic.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaLi';
  src: local('MorangaLight'), url(./fonts/MorangaLight.otf) format('opentype');
}

@font-face {
  font-family: 'GTWalsheimReg';
  src: local('GTWalsheimPro-Regular'), url(./fonts/GTWalsheimPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimRegBold';
  src: local('GTWalsheimPro-Bold'), url(./fonts/GTWalsheimPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimLight';
  src: local('GTWalsheimPro-Light'), url(./fonts/GTWalsheimPro-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimConBo';
  src: local('GTWalsheimPro-CondensedBoldOblique'), url(./fonts/GTWalsheimPro-CondensedBoldOblique.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimMedObl';
  src: local('GTWalsheimPro-MediumOblique'), url(./fonts/GTWalsheimPro-MediumOblique.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimConThin';
  src: local('GTWalsheimPro-CondensedThin'), url(./fonts/GTWalsheimPro-CondensedThin.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimConReg';
  src: local('GTWalsheimPro-CondensedRegular'), url(./fonts/GTWalsheimPro-CondensedRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimConBold';
  src: local('GTWalsheimPro-CondensedBold'), url(./fonts/GTWalsheimPro-CondensedBold.ttf) format('truetype');
}

@font-face {
  font-family: 'GTWalsheimLiBo';
  src: local('GTWalsheimPro-LightOblique'), url(./fonts/GTWalsheimPro-LightOblique.ttf) format('truetype');
}

@font-face {
  font-family:"toybox";
  src:url('https://static.tumblr.com/d5muzyw/3iAqs99di/toybox.ttf');
}

@font-face { 
  font-family: "Moon"; 
  src: url('https://dl.dropboxusercontent.com/s/7nt1qk7u3v647wq/MoonLight.otf');
}

@font-face { 
  font-family: "MoonBold"; 
  src: url('https://dl.dropboxusercontent.com/s/tbrh79amlmbzt1d/MoonBold.otf');
}

/* @font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'), url(./fonts/GothamBold.ttf) format('truetype');
}*/