* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}

a,a:active,a:visited {
  text-decoration:none;
}

@font-face {
  font-family: 'Alata';
  src: local('Alata'), url(./fonts/alata-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MorangaBold';
  src: local('MorangaBold'), url(./fonts/MorangaBold.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaBoldItalic';
  src: local('MorangaBoldItalic'), url(./fonts/MorangaBoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaLiIt';
  src: local('MorangaLightItalic'), url(./fonts/MorangaLightItalic.otf) format('opentype');
}

@font-face {
  font-family: 'MorangaLi';
  src: local('MorangaLight'), url(./fonts/MorangaLight.otf) format('opentype');
}

@font-face {
  font-family:"toybox";
  src:url('https://static.tumblr.com/d5muzyw/3iAqs99di/toybox.ttf');
}

@font-face { 
  font-family: "Moon"; 
  src: url('https://dl.dropboxusercontent.com/s/7nt1qk7u3v647wq/MoonLight.otf');
}

@font-face { 
  font-family: "MoonBold"; 
  src: url('https://dl.dropboxusercontent.com/s/tbrh79amlmbzt1d/MoonBold.otf');
}

/* @font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'), url(./fonts/GothamBold.ttf) format('truetype');
}*/